.homepage {
    padding: 20px;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-list {
    padding: 10px;
  }
  
  .books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  